body {
    margin: 0;
    font-family: Arial;
    padding: 5px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6fd3b3;
    border-radius: blur(100px);
    gap: 1rem;
}

form {
    width: 100px;
    height: 100px;
    margin-right: 10px;

}

i {
    color: blue;
    transition: .3s ease-in-out;
}

i:hover{
    color: tomato;
}

.container {
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
}

input {
    margin: 5px;
    padding: 5px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 1rem;
    font-size: 22px;
}

.wrapper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

}

.item {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 10px 0;
    margin-top: 150px;
    padding: 10px;
    border: 2px solid green;
}
.actions button {
    margin-left: 5px;

}

.edit {
    background-color: orange;
    color: white;
    border: 1px solid gray;
    transition: .3s ease-in-out;
}

.edit:hover {
    background: black;
}



.delete {
    background-color: green;
    color: white;
    border: 1px solid gray;
    transition: .3s ease-in-out;
}

.delete:hover {
    background: red;
}